i {
    margin-bottom: 10px
}

.wrapper {
    height: 1rem;
    width: 100%
}

ul {
    list-style: none
}

ul li {
    margin-left: 0
}

ul p {
    float: left
}

ul p.right {
    color: #999;
    float: right;
    font-weight: 700
}

@media only screen and (max-width:775px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 5px
    }

    ul li {
        margin-bottom: 15px
    }

    ul p.right {
        float: left
    }
}