.wrapper {
  height: 1rem;
  width: 100%;
}

#contents ul {
  list-style: none;
  padding: 0;
}

#contents ul li {
  margin-bottom: 15px;
  overflow: hidden; /* Clear float inside the li */
}

#contents ul p {
  float: left;
  margin: 0; /* Reset margin for p elements */
}

#contents ul p.right {
  color: var(--font-color-muted);
  font-weight: 700;
  float: right;
}

@media only screen and (max-width: 635px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 5px;
  }

  #contents ul li {
    margin-bottom: 15px;
  }

  #contents ul {
    flex-direction: column;
  }

  #contents ul p.right {
    float: left;
    margin-top: 5px;
  }
}
