#guestbook {
    list-style-type: none;
    margin-top: 10px;
}

#guestbook p {
    font-size: 25px;
}

#guestbook li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#guestbook li:nth-child(odd) {
    background-color: #f0f0f0;
}

#guestbook li .entry-name-and-timestamp {
    font-size: 12px;
    color: #666;
}

#guestbook li .entry-message {
    font-size: 16px;
}