#cover {
    background-image: url(../../img/cover.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 2px 10px
}

#cover #text {
    padding: 100px;
    text-align: center
}

#cover #text h1 {
    font-size: 75px;
    font-weight: 600
}
