.card {
    border-radius: 5px;
    margin-bottom: 10px;
    transition: box-shadow 0.25s ease-in, margin-left 0.25s ease-in;
    padding: 10px;
    width: 100%
}

.card p {
    margin-bottom: 0px
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    margin-left: 5px
}