#gform {
    display: flex;
    flex-direction: column;
}

#gform label {
    margin: 7px 0px;
    font-size: 20px;
}

#gform label:first-child {
    margin-top: 0px;
}

#gform input,
#gform textarea {
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    font-family: "Noto Sans", sans-serif;
}

#gform input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}