#stats-info {
    margin-bottom: 10px
}

ul#langs-used {
    list-style: none
}

ul#langs-used li {
    margin-left: 0
}

.wrapper {
    height: 1rem;
    width: 100%
}

ul#langs-used p {
    float: left
}

ul#langs-used p.right {
    color: #999;
    float: right;
    font-weight: 700
}