@import url(./body.css);
@import url(./navbar.css);

@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap);

:root {
    --bg-colour: #F9F9F9;
    --text-colour: #171C20;

    --navbar-width: 125px;
    --contents-width: 500px;

    --h1-font-size: 27px;
    --h2-font-size: 25px;
    --h3-font-size: 23px;
    --h4-font-size: 21px;
    --h5-font-size: 19px;
    --h6-font-size: 17px;
    --p-font-size: 14px;
    --h1-margin-bottom: 11px;
    --h2-margin-bottom: 9px;
    --h3-margin-bottom: 7px;
    --h4-margin-bottom: 5px;
    --h5-margin-bottom: 3px;
    --h6-margin-bottom: 1px;
    --p-margin-bottom: 10px;

    --link-colour: #337DF8;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    font-family: 'Heebo', monospace;
    margin: 20px;
    padding: 0
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
    margin-bottom: var(--h1-margin-bottom);
    margin-top: 0
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 700;
    margin-bottom: var(--h2-margin-bottom);
    margin-top: 0
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 600;
    margin-bottom: var(--h3-margin-bottom);
    margin-top: 0
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: 600;
    margin-bottom: var(--h4-margin-bottom);
    margin-top: 0
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: 500;
    margin-bottom: var(--h5-margin-bottom);
    margin-top: 0
}

h6 {
    font-size: var(--h6-font-size);
    font-weight: 500;
    margin-bottom: var(--h6-margin-bottom);
    margin-top: 0
}

p {
    font-size: var(--p-font-size);
    font-weight: 400;
    margin-bottom: var(--p-margin-bottom);
    margin-top: 0;
    text-align: justify
}

a {
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    color: var(--link-colour);
    text-decoration: none;
    transition: border-color 0.25s ease-in;
}

a:hover {
    border-color: black;
}