nav {
    background-color: var(--lighter-bg-colour);
    height: 100vh
}

nav .link {
    backdrop-filter: blur(5px);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin: 10px;
    padding: 10px;
    transition: background-color .25s ease
}

nav .link:hover {
    background-color: var(--lightest-bg-colour);
    cursor: pointer
}

nav .link#current {
    background-color: var(--accent-colour)
}

nav .link i {
    transition: transform .25s ease
}

nav .link i:hover {
    transform: scale(1.1)
}

nav #links .link.tooltip-right::after {
    transform: translateX(calc(100% + 15px))
}

nav #links .link.tooltip-top::after {
    transform: translate(-50%, calc(-100% - 15px))
}

nav #links a {
    color: var(--text-colour)
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#body {
    animation: 1s fadeIn;
    flex: 1;
}

@media only screen and (max-width: 600px) {
    nav {
        bottom: 0;
        height: auto;
        position: fixed;
        width: 100%
    }

    nav #links {
        display: flex;
        flex-direction: row;
        float: left;
        justify-content: space-evenly
    }

    nav .link {
        display: flex;
        justify-content: center;
        margin: 5px
    }

    #body {
        margin-left: 0px;
        height: 100vh
    }
}