#hero-simple {
    background: linear-gradient(0deg, #000000, #ffffff00), linear-gradient(90deg, #CA424633, #9195ff33);
    padding: 100px 25px;
}

#hero-simple>* {
    text-align: center;
}

#hero-simple p {
    color: var(--muted-text-colour);
    font-size: 1.25rem;
    font-weight: 400;
}

#hero-simple #logos a i {
    font-size: 1.5rem;
}